<h1>Search users</h1>
{{#if error}} , <span>{{error}}</span> {{/if}}
<form action="/user/search" method="POST" class="form-inline">
    <div class="form-group">
        <input class="form-control" type="text" name="id" placeholder="search users by id">
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
</form>